---
import SocialLinks from './SocialLinks.astro';

const today = new Date();
---

<footer>
  <p>© {today.getFullYear()} Jonas Munthe Flønes.</p>
  <SocialLinks class="footer-social-links" />
</footer>
<style>
  footer {
    padding: 2em 1em 6em 1em;
    background: linear-gradient(var(--gray-gradient)) no-repeat;
    color: rgb(var(--gray));
    text-align: center;
  }
  .footer-social-links {
    justify-content: center;
    gap: 1.4em;
    margin: 1em 0 0 0;
  }
</style>
